# Maven
target/
*.ser
*.ec
.mvn/wrapper/maven-wrapper.jar

# IntelliJ Idea
.idea/
out/
*.ipr
*.iws
*.iml

index.html
scripts
styles

# Eclipse
.classpath
.project
.settings/
.metadata/

# OS X
.DS_Store
